form {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  box-shadow: 2px 2px 10px #111111;
}

input[type="file"] {
  display: none;
}

img {
  max-height: 100%;
  max-width: 100%;
  border: 5px solid #61dafb;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #111111;
  cursor: pointer;
}

textarea {
  box-shadow: 2px 2px 10px #111111;
}

button {
  width: 100%;
  box-shadow: 2px 2px 10px #111111;
}