/* cursor: "wait" or cursor: "progress" might be useful later */

/*--- App Styling ------------------------------------------------------------*/

.App {
  width: 100vw;
  background-color: #666666;
  background-position: center;
  background-size: cover;
}

.App-header {
  height: 15vh;
  width: 100%;
  margin: 0;
  font-size: calc(10px + 2vw);
  text-align: center;
  color: white;
  background-color: rgba(20, 20, 20, 1);
  box-shadow: 0px 0px 10px #aaaaaa;
  position: fixed;
  z-index: 10;
}

.main-wrapper {
  height: 100vh;
}

.App-main {
  padding-top: 20vh;
  padding-bottom: 10vh;
  height: 100%;
  width: 100%;
  font-size: calc(10px + 1vmin);
  color: #61dafb;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.App-footer {
  height: 5vh;
  width: 100%;
  color: white;
  background-color: rgba(20, 20, 20, 1);
  box-shadow: 0px 0px 10px #aaaaaa;
  position: fixed;
  bottom: 0;
}

.mm-logout, .mm-delete {
  transition: color 0.25s;
}

.mm-logout:hover, .mm-delete:hover {
  color: #aaaaaa;
  cursor: pointer;
}

.App.sign-in .App-main, .App.sign-up .App-main {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  color: white;
  background-color: rgba(20, 20, 20, 1);
}

.login {
  min-width: 50vw;
}

.login-heading {
  text-align: center;
}

button.redirect {
  color: limegreen;
  background-color: transparent;
  border: none;
  transition: color 0.25s;
}

button.redirect:hover {
  color: rgb(117, 255, 117);
}

/* Used to modify the wrapper, which contains the left/right tab windows */
.main-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tab-window {
  height: 100%;
  background-color: rgba(20, 20, 20, 0.90);
  border-radius: 5px;
  box-shadow: 2px 2px 10px #000000;
}

/* Tab label */
.nav-link {
  color: #aaaaaa;
}

.nav-link:hover {
  color: white;
}

/* Tab body */
.tab {
  height: 100%;
  border: none;
}

.tab-body {
  height: 45vh;
  border: 1px solid white;
  border-radius: 0 0 5px 5px;
  overflow-y: scroll;
}

/*--- SavedPlaylists Styling -------------------------------------------------*/

.SavedPlaylists h1 {
  font-size: calc(0.9rem + 0.9vw);
}

.SavedPlaylists h2 {
  color: #ffffff;
  font-size: calc(0.7rem + 0.7vw);
}

.SavedPlaylists p {
  color: #bbbbbb;
}

.list-card {
  text-align: left;
  background-color: #003d4c;
}

/*--- Playlist Styling -------------------------------------------------------*/

.Playlist h1 {
  font-size: calc(0.9rem + 0.9vw);
}

.Playlist h2 {
  color: #ffffff;
  font-size: calc(0.7rem + 0.7vw);
}

.Playlist p {
  color: #bbbbbb;
}

.list-title {
  transition: color 0.25s;
}

.list-title:hover {
  color: #ffffff;
  cursor: text;
}

.bi-pencil-square {
  color: #ffffff;
  font-size: calc(0.9rem + 0.9vw);
}

.song-card {
  text-align: left;
  background-color: #003d4c;
  transition: background-color 0.25s;
}

.song-card:hover {
  background-color: #004f63;
}

/*--- Modal Styling ----------------------------------------------------------*/

#confirm-delete-account {
  color: #ffffff;
}

.modal-header, .modal-footer {
  background-color: #002f43;
}

.modal-title {
  color: #ffffff;
  font-size: calc(1rem + 1vw);
}

.modal-body {
  background-color: #004f63;
}

.input-group-text {
  text-align: left;
}

.details-header h1  {
  color: #ffffff;
  font-size: calc(0.8rem + 0.8vw);
}

.details-header p {
  font-size: calc(0.8rem + 0.8vw);
}

.modal-body p {
  margin-bottom: 0;
  text-align: left;
}

.carousel-item {
  height: 30vh;
  padding: 5% 15%;
}

.user-data {
  color: limegreen;
}

.confirm-button, .remove-button, .nevermind-button, .delete-button {
  border: none;
  transition: background-color 0.4s;
}

.modal-footer button {
  width: auto;
}

.confirm-button:hover, .nevermind-button:hover {
  background-color: #3ea315;
}

.remove-button:hover, .delete-button:hover {
  background-color: #e24005;
}

/*--- Spotify Styling --------------------------------------------------------*/

.SpotifyProfile {
  border-bottom: 1px solid #ffffff;
}

.profile-info, .logged-in {
  color: limegreen;
}

/*--- YouTube Music Styling --------------------------------------------------*/

.YouTube {
  border-bottom: 1px solid #ffffff;
}