.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 15vh;
  margin: 0;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #111111;
}

.App-main {
  min-height: 80vh;
  min-width: 100vw;
  font-size: calc(10px + 1vmin);
  color: #61dafb;
}

.App-footer {
  min-height: 5vh;
  background-color: #111111;
}